/*
Colors used:
Primary Color (Fuel Yellow): rgb(204,153,51); #cc9933;
Primary Color (Fuel Yellow) darkened: #8e6b23;
Black: #000000;
White: #ffffff;
*/

* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }


body {
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
}

h1, h2, h3, h4 {
    font-family: freight-text-pro, serif;
    font-weight: 600;
    line-height: 1.2;
}
#hero h1 {
    font-size: 30px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 auto 20px auto;
}
.hi {
    display: inline-block;
    color: #000000;
    font-weight: 400;
    padding-bottom: 5px;
}
.hi2 {
    display: block;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    text-align: center;
    width: 100%;
}
h3 {
    font-size: 25px;
    color: #cc9933;
    margin: 0;
}
h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color:  #000000;
}

img {
    width: 100%;
}
#hero {
    background-color:rgba(204,153,51,0.90);
}
#work {
    background-color:#ffffff;
}
footer {
    background-color: #000000;
    color: #ffffff;
}
footer h2 {
    color: #ffffff;
}

a {
    color: #cc9933;
    text-decoration: none;
}
a:visited {
    color: #8e6b23;
}
a:hover {
    color: #cc9933;
    text-decoration: underline;
}
a:active {
    color: #8e6b23;
}


.button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s background-color;

}
.button:hover {
    background-color: #cc9933;
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background-color: #8e6b23;
    color: #ffffff;
}

.button.second {
    background-color: #cc9933;
}
.button.second:hover {
    background-color: #ffffff;
    color: #000000;
}
.button.second:active {
    background-color: #ffffff;
    color: #000000;
}

.button.painbuddies:hover {
    background-color: #ffca28;
    color: #000000;
}
.button.painbuddies:active {
    background-color: #ffca28;
    color: #000000;
}

.button.backforward {
    background-color: transparent;
    color: #000000;
}
.button.backforward:hover {
    font-weight: 700;
}
.button.backforward:active {
    font-weight: 700;
}

.button.third {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
}
.button.third:hover {
    background-color: #000000;
    color: #ffffff;
}
.button.third:active {
    background-color: #000000;
    color: #ffffff;
}

.copyright {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}


/* Layout styling */

.container {
    display: block;
    padding: 0 15px;
}
#header {
    background-color: #ffffff;
    display: block;
    padding-top: 25px;
    z-index: 1000;
}
.logo {
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
}
nav > ul > li > a:visited {
    color:  #000000;
}
nav > ul > li > a:hover {
    color:  #cc9933;
    text-decoration: none;
}
nav > ul > li > a:active {
    color:  #cc9933;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle li .ic-toggle {
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 20px;
    padding-right: 20px;
}
.navtoggle.responsive li  {
    display: block;
    text-align: center;
    padding-top: 25px;
}
.navtoggle.responsive li:last-child  {
    padding-bottom: 5px;
}
#hero .container {
    display: block;
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    padding: 35px 0;
}
#hero span:last-child {
    display: block;
}
#hero p {
    margin-bottom: 10px;
    max-width: 1000px;
}
.row {
    margin: 20px 0 40px 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
#work .row { 
    border-bottom: 1px solid #000000;
}
#work h2 {
    padding: 40px 0 20px 0;
    margin: 0;
}
#work h3 {
    padding-bottom: 20px;
    margin-bottom: 0;
}
#work p {
    display: inline-block;
    padding-bottom: 15px;
    margin: 0;
}
#work img {
    padding-bottom: 10px;
}
#work svg {
    padding-bottom: 10px;
}
.grayscale {
    padding-bottom: 10px;
    filter: grayscale(100%);
}
#contact{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 20px 0 20px 0;
}
#contact p {
    padding-bottom: 10px;
    max-width: 89%;
    margin: 20px auto 0 auto;
}
.getintouch {
    display: block;
}
.ic-social {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-bottom: 30px;
}
.ic-social:hover {
    transform: scale(1.2);
}
#about img {
    display: block;
    margin: 0 auto 40px auto;
}
#about h2 {
    text-align: left;
}
#about h3 {
    display: block;
    max-width: 850px;
    margin: 0 auto;
    padding: 0;
}
#about h4 {
    padding: 0 0 15px 0;
    margin: 0;
}
#about .skills {
    margin: 40px 0 40px 0;
}
#about p {
    display: block;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 0 10px 0;
}
#about ul {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0 0 0 15px;
    margin: 0 0 30px 0;
}
#about .border {
    border-bottom: 1px solid #000000;
}
#about .tools {
    padding-bottom: 20px;
}
div .button {
    display: flex;
    justify-content: center;
    max-width: 210px;
    margin: 20px auto 40px auto;
}
div .button.margin1 {
    margin: 30px auto 0 auto;
}
div .button.margin2 {
    margin: 0 auto 40px auto;
}
div .button.margin-bfw {
    margin: 20px auto 0 auto;
}
div .button.margin-overview {
    margin: 30px auto 100px auto;
}
div .button.margin-mail {
    margin: 20px auto 30px auto;
}
div .button.margin5 {
    margin: 30px auto 40px auto;
}
#work div .button {
    display: inline-block;
    text-align: center;
    min-width: 180px;
}
#work .margin-without-btn {
    display:block;
    margin-bottom: 30px;
}
#about div .button {
    display: inline-block;
    text-align: center;
    min-width: 210px;
}
.project {
    width: 100%;
    margin: 0;
    padding: 0;
}
#painbuddies img {
    display: block;
    margin: 0;
    padding: 0;
}
#painbuddies video {
    display: block;
    margin: 0;
    padding: 0;
}
#greiff img {
    display: block;
    margin: 0;
    padding: 0;
}


/* ........................
ANIMATION CF
...........................*/

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ........................
ANIMATION LOGO
...........................*/

@keyframes target-move {
    0% {transform: translate(0,0);}
    20% {transform: translate(-35px,0);}
    40% {transform: translate(35px,0);}
    60% {transform: translate(0,35px);}
    80% {transform: translate(0,-35px);}
    100% {transform: translate(0,0);}
}
.target {
    animation: 6s target-move infinite alternate linear;
}
@keyframes hunt {
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {fill: #cc9933;}
}
.wolpertinger {
    animation: 3s hunt infinite alternate linear;
}
@keyframes color-change {
    0% {fill: #ffffff;}
    50% {fill: #cc9933;}
    100% {fill: #ffffff;}
}
.hg {
    animation: 6s color-change 2s ease-in-out infinite;
}
@keyframes text-animation {
    0% {opacity: 0;}
    50% {opacity: 100%;}
    100% {opacity: 0;}
}
.textline {
    animation: 6s text-animation 2000ms ease-in-out infinite;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

#header {
    text-align: center;
}
nav > ul {
    margin: 15px 0 25px 0;
}    
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    font-size: 15px;
}    
.navtoggle li:not(:last-child) {
    display: inline-block;
}
.navtoggle li:last-child {
    display: none;
}
.navtoggle.responsive li  {
    padding: 0;
}
.col-md-6 {
    width: 50%;
}
[class*="col-"] {
    float: left;
    padding: 0 25px 0 0;
}
.nop {
    padding: 0;
}
.container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
#hero .container {
    max-width: 590px;
    padding: 50px 0;
}
#hero h1 {
    font-size: 35px;
}
.hi {
    font-size: 30px;
    padding-bottom: 15px;
}
.hi2 {
    display: inline-block;
}
#hero span:last-child {
    display: inline-block;
}
#work .row { 
    margin: 20px 0 45px 0;
}
#work .button{
    margin: 20px auto 45px auto;
}
#work div .button {
    display: inline-block;
    text-align: center;
    min-width: 210px;
}
#about .button {
    display: inline-block;
}
#about h2 {
    text-align: left;
}
#about img {
    max-width: 450px;
    margin: 0px auto 30px auto;
}
#about .skills {
    margin: 50px 0 40px 0;
}
#contact {
    padding: 30px 0 50px 0;
}
.ic-social {
    margin-bottom: 30px;
}
.getintouch {
    display: inline-block;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.logo {
    max-width: 110px;
} 
header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
nav {
    display: flex;
    width: auto;    
    float: left;
    margin: -80px 0 0 0;
    }
nav > ul {
    display: flex;
}
.col-lg-8 {
    width: 65%;
}
.col-lg-4 {
    width: 35%;
}
.container {
    max-width: 850px;
}
#hero .container {
    max-width: 760px;
    padding: 60px 0 75px 0;
}
#hero h1 {
    font-size: 45px;
    margin: 0 auto 30px auto;
}
#hero p {
    max-width: 650px; 
}
#work h2 {
    padding: 50px 0 30px 0;
}
#work .row { 
    margin: 20px 0 55px 0;
}
#work .button{
    margin: 20px auto 55px auto;
}
#work svg {
    padding-bottom: 60px;
} 
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
#about img {
    max-width: 500px;
    padding-top: 40px;
}
footer .container {
    max-width: 650px;
}
#contact {
    padding: 40px 0 60px 0;
}
.ic-social {
    margin-bottom: 50px;
}
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

header {
    position: fixed;
    width: 100%;
}
main {
    padding-top: 171px;
}
.logo {
    max-width: 120px;
}
nav {
    margin: -90px 0 0 0;
}
nav > ul > li > a {
    font-size: 16px;
}
#about .col-md-6 {
    width: 100%;
}
#about .col-xlg-8 {
    width: 65%;
    padding: 0 80px 0 0;
}
#work .col-xlg-8 {
    width: 65%;
    padding: 0 40px 0 0;
}
.col-xlg-4 {
    width: 35%;
}
.container {
    max-width: 1200px;
}
#hero .container {
    max-width: 1000px;
}
#hero h1 {
    font-size: 57px;
}
.hi {
    font-size: 40px;
}
#hero p {
    max-width: 750px; 
}
body {
    font-size: 18px;
}
h2 {
    font-size: 40px;
}
#work h2 {
    padding: 60px 0 40px 0;
}
#work div .button {
    min-width: 230px;
}
div .button {
    max-width: 230px;
}
#work .row { 
    margin: 20px 0 70px 0;
}
#work .button{
    margin: 20px auto 70px auto;
}    
#about h2 {
    text-align: left;
}
#about .skills {
    margin: 35px 0 40px 0;
}
#about .border {
    border-bottom: 0;
}
footer .container {
    max-width: 730px;
}
#contact {
    padding: 60px 0 90px 0;
}
.ic-social {
    margin-bottom: 60px;
}
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {

nav > ul > li > a {
    font-size: 17px;
}
#work .col-xxlg-8 {
    width: 65%;
    padding: 0 50px 0 0;
}
.col-xxlg-4 {
    width: 35%;
}
.container {
    max-width: 1400px;
}
#hero .container {
    max-width: 1200px;   
    padding: 180px 0 240px 0;
}
#hero h1 {
    font-size: 70px;
    line-height: 1.15;
}
.hi {
    font-size: 40px;
}
#hero p {
    font-size: 20px;
    max-width: 830px; 
}
body {
    font-size: 20px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 35px;
}
#work img {
    padding-bottom: 60px;
}
#work div .button {
    min-width: 250px;
}
div .button {
    max-width: 250px;
}
#about img {
    max-width: 600px;
}
}